@import '~@redhat-cloud-services/frontend-components-utilities/styles/_mixins';

.ins-c-inventory-insights__report-details__override {
  .ins-c-rules-card {
    .pf-c-card__header .pf-l-split__item:first-of-type {
        white-space: nowrap;
        @include rem('margin-right', 5px)
    }
    .ins-l-icon-group__with-major { display: inline; }
    .space-between {
        display: flex;
        justify-content: space-between;
    }
  }
  
  .ins-c-rules-card .pf-c-card__header div { font-weight: 600; }
  
  .ins-c-rules-card + .ins-c-rules-card {
    margin-top: var(--pf-global--spacer--xl);
  }
  
  .ins-c-rules-card  a[disabled] {
    cursor: not-allowed;
    color: var(--pf-global--disabled-color--200);
    &:hover { text-decoration: none; }
  }
  
  .ins-c-inventory-advisor__card {
  
    .ins-m-card__flat {
        box-shadow: none;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
    }
  
    .pf-c-card__body svg { @include rem('margin-right', 5px); }
  
    pre {
        display: block;
        @include rem('padding', 9.5px);
        @include rem('margin-top', 5px);
        @include rem('margin-bottom', 10px);
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        code { white-space: pre-wrap; }
    }
  
    ol {
        @include rem('margin-top', 10px);
        @include rem('margin-left', 15px);
    }
  
    p + pre, ul + pre { @include rem('margin-bottom', 20px); }
  
    .pf-c-list {
        @include rem('margin', 5px 0);
        list-style: disc;
        padding-left: var(--pf-global--spacer--lg);
    }
  
    table {
        width: 100%;
        @include rem('margin-top', 15px);
        tr { border-bottom: 1px solid #ededed; }
        th, td { @include rem('padding', 16px); }
  
        // Inline style overwrite
        td { background: white !important; }
        th { text-align: left !important; }
    }
  }
  
  .ins-c-report-details-icon {
    margin-right: var(--pf-global--spacer--sm);
  }
}
