.pf-c-card.ins-error-card div {
    text-align: center;
}

.ins-c-policy-card {
    font-size: var(--pf-global--FontSize--lg);
}

.ins-c-policy-card.ins-m-compliant {
    color: var(--pf-global--success-color--100);
}

.ins-c-policy-card.ins-m-noncompliant {
    color: var(--pf-global--danger-color--100);
}

.ins-u-passed {
    color: var(--pf-global--success-color--100);
}

.ins-u-failed {
    color: var(--pf-global--danger-color--100);
}
