@import '~@redhat-cloud-services/frontend-components-utilities/styles/_all.scss';

.ins-c-component_invalid-component {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .ins-c-text__sorry { max-width: 70%; }

    h1, svg { @include rem('margin-bottom', 30px); }

    button { @include rem('font-size', 20px); }
}