@import '../../Utilities.scss';

.ins-inventory-detail.pf-c-page-header.pf-c-page__main-section {
    padding-bottom: 0;
}

.ins-c-inventory-detail__app-tabs ul {
    &:before {
        content: '';
        border-right: 1px solid var(--pf-global--BorderColor--light-200);
    }

    &:after {
        content: '';
        width: 100%;
        border-left: 1px solid var(--pf-global--BorderColor--light-200);
    }

    li button:before {
        border-bottom: none;
    }
}

.ins-entity-detail {
  .ins-entity-facts {
    div {
      @include rem('margin', 5px);
      span:first-child { @include rem('margin-right', 5px); }

      .ins-c-skeleton {
          display: inline-block;
      }
    }
  }

  .ins-entity-tags {
    svg {
      position: relative;
      top: 3px;
    }
    > div > span {
        margin: 5px;
    }
  }

  .ins-tab-layout {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .ins-entity-detail {
    .ins-entity-facts, .ins-entity-header {
      div.pf-l-grid__item:nth-child(even) {
        text-align: right;
      }
    }
  }
}
