@import '~@redhat-cloud-services/frontend-components-utilities/styles/_mixins';

.ins-c-report-details {
  &__cards-stack {
    a[disabled] {
      cursor: not-allowed;
      color: var(--pf-global--disabled-color--200);
      &:hover {
        text-decoration: none;
      }
    }

    pre {
      display: block;
      @include rem('padding', 9.5px);
      @include rem('margin-top', 5px);
      color: #333;
      word-break: break-all;
      word-wrap: break-word;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      border-radius: 4px;
      code {
        white-space: pre-wrap;
      }
    }

    ol {
      @include rem('margin-top', 10px);
      @include rem('margin-left', 15px);
    }

    p + pre,
    ul + pre {
      @include rem('margin-bottom', 20px);
    }

    .pf-c-list {
      @include rem('margin', 5px 0);
    }

    table {
      width: 100%;
      tr {
        border-bottom: 1px solid #ededed;

        :first-child::after {
          border-left: 0 !important;
        }
      }
      th,
      td {
        @include rem('padding', 8px);
      }

      // Inline style overwrite
      td {
        background: white !important;
      }
      th {
        text-align: left !important;
      }
    }
  }

  &__icon {
    margin-right: var(--pf-global--spacer--sm);
  }
}
