.ins-c-tag-count {
    color: var(--pf-global--icon--Color--light);
    display: flex;

    i {
        padding: 10px;
        font-size: var(--pf-global--icon--FontSize--lg);
    }

    span {
        margin: auto 0;
    }
}