.ins-c-tag-count {
    color: var(--pf-global--icon--Color--light);
    display: flex;
    border: none;
    padding: 0;
    background-color: inherit;

    i {
        padding: 10px;
        font-size: var(--pf-global--icon--FontSize--lg);
    }

    span {
        margin: auto 0;
    }
}

.blue-boy {
    color: blue !important;
}

.bordered {
    border: 10px solid red;
}