src/index.js
src/demoData

charts/
components/
demo/
doc/
images/
node_modules/
index.js
Utilities/
*.test.js

src/SmartComponents/SamplePage/

config/webpack.common.js
config/webpack-build.plugins.js
config/webpack-build.config.js
config/build-constants.js