# See https://help.github.com/ignore-files/ for more about ignoring files.

# ide config
.idea/
.editorconfig
.vscode/

# devel
*.js.map
*.css.map

# dependencies
node_modules
packages/config-utils/repos

# production
.env
dist
/demo/assets
/**/build
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/index.js
/index.css
/components/
/Utilities/
/charts/
coverage
.storybook
lerna-debug.log
.DS_Store
packages/**/package-lock.json
packages/**/.cache
