version: '3'
services:
  docs:
    build:
      context: ./
      dockerfile: Dockerfile.dev
    command: sh -c "npm i && npm run generate:components && npm run watch"
    ports:
      - '3000:3000'
    volumes:
      - .:/docs
      - /docs/packages/docs/node_modules
