@import "~@patternfly/patternfly/utilities/Flex/flex.css";
@import "~@patternfly/patternfly/utilities/Display/display.css";
@import '~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_all';
@import '~@redhat-cloud-services/frontend-components/components/TagCount.css';
@import '~@redhat-cloud-services/frontend-components/components/TagModal.css';

.ins-c-inventory__table--toolbar {
    .pf-c-data-toolbar__content {
        .pf-c-data-toolbar__item:last-child { @include rem('min-width', 200px); }
    }
    .pf-c-pagination__nav-page-select input { @include rem('min-width', 75px); }
}

.ins-c-table__empty {
    @include rem('margin', 75px);
    border-bottom: none;

    .pf-c-content {
        text-align: center;
    }
}

.ins-c-entity-table.pf-c-table {

    .ins-composed-col div:nth-child(2) {
        color: var(--pf-global--link--Color);
        word-wrap: break-word;
        word-break:break-all;
        cursor: pointer;
        &:hover {
            color: var(--pf-global--link--Color--hover);
        }
    }

    .ins-health-status div {
        display: inline-block;
        padding-right: 20px;

        svg {
            position: relative;
            top: 2px;
            left: -2px;
        }
    }

    .ins-composed-col {
        :first-child {
            color: var(--pf-c-button--m-disabled--Color);
            font-size: var(--pf-global--FontSize--sm);
        }

        * {
            color: var(--pf-global--info-color--100);
            font-size: var(	--pf-global--FontSize--lg);
        }

        .ins-composed-col {
            cursor: pointer;
        }
    }

    .ins-health-status div {
        span:nth-child(2) {
            color: var(--pf-global--info-color--100);
            cursor: pointer;
        }
    }

    .pf-c-table__action .pf-c-dropdown {
        position: relative;
        left: 10px;
        top: 3px;
    }
}

.ins-simple-table {
    .ins-health-status div {
        display: inline-block;
        padding-right: 20px;

        svg {
          position: relative;
            top: 2px;
            left: -2px;
        }
    }
}
