@import '../../../Utilities';

.ins-c-existing-or-new {
  .ins-c-existing-or-new--hidden {
    display: none;
  }

  .ins-c-existing-or-new__existing {
    display: flex;
    flex-wrap: wrap;

    select.pf-c-form-control {
      width: auto;
      @include rem('min-width', 100px);
      @include rem('margin-left', 20px);
    }
  }
}
