button:focus {
  outline: none; }

.card.ins-c-card {
  display: inline-flex;
  flex-direction: column;
  padding: 30px;
  padding: 2.14286rem;
  margin: 15px;
  margin: 1.07143rem;
  background: #fff;
  box-shadow: 0 1px 1px rgba(3, 3, 3, 0.175); }

button:focus {
  outline: none; }

.ins-p-page-header {
  display: flex;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #d1d1d1;
  margin: 0;
  padding: 20px 30px;
  padding: 1.42857rem 2.14286rem; }
  .ins-p-page-header__title {
    font-size: 18px;
    font-size: 1.28571rem;
    line-height: 25.2px;
    line-height: 1.8rem;
    font-family: 'Overpass';
    margin: 0; }

button:focus {
  outline: none; }

section.ins-l-content {
  padding: 30px;
  padding: 2.14286rem; }

section.ins-l-button-group {
  margin: 15px 0px;
  margin: 1.07143rem 0rem; }
  section.ins-l-button-group > * {
    display: inline; }
  section.ins-l-button-group * + * {
    margin-left: 5px;
    margin-left: 0.35714rem; }

button:focus {
  outline: none; }

.sample-component {
  font-size: 20px;
  font-size: 1.42857rem;
  line-height: 28px;
  line-height: 2rem;
  margin: 15px;
  margin: 1.07143rem;
  display: block; }

