@mixin absolute($top: 0, $right: 0, $bottom:0, $left: 0) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

.ins-c-select {
    .ins-c-select__control {
        box-shadow: none;
        cursor: pointer;
        border-radius: 0;
        border: 0;
        &::before {
            @include absolute;
            content: "";
            border: var(--pf-global--BorderWidth--sm) solid;
            border-color: var(--pf-global--Color--light-200);
            border-bottom-color: var(--pf-global--Color--dark-100);
        }
        &:hover::before {

            border-bottom-color: var(--pf-global--active-color--100);
        }

        &.ins-c-select__control--is-focused::before {
            border-bottom-width: var(--pf-global--BorderWidth--md);
            border-bottom-color: var(--pf-global--active-color--100);
        }
        .ins-c-select__indicators {
            padding-right: var(--pf-global--spacer--xs);
            z-index: 1;
            .ins-c-select__indicator-separator {
                display: none;
            }
            svg:first-child {
                fill: var(--pf-global--Color--400);

                &:hover {
                    fill: var(--pf-global--Color--dark-100);
                }
            }

            button.pf-c-button.pf-m-plain {
                padding-right: var(--pf-global--spacer--sm);
                padding-left: var(--pf-global--spacer--md);
                margin-left: auto;
                padding-bottom: 0;
                margin-right: var(--pf-global--spacer--sm);
            }
        }
    }

    .ins-c-select__menu {
        cursor: pointer;
        border-radius: 0;
        z-index: 2;
    }

    .ins-c-select__menu--option {
        display: flex;
        align-items: center;

        &.focused {
            background-color: var(--pf-global--Color--light-200);
        }

        svg {
            width: 0.6em;
            margin-right: 10px;
            fill: var(--pf-global--active-color--100);
        }

        div.pf-c-check {
            padding-left: 1rem;
            & + .ins-c-select__option {
                padding-left: 0;
            }
        }
    }

    .ins-c-select__menu--option div {
        background: transparent;
        cursor: pointer;
        color: var(--pf-global--Color--300);
    }

    .ins-c-select__multivalue--container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        box-sizing: border-box;
        line-height: var(--pf-global--LineHeight--md);
        position: relative;
        margin-right: var(--pf-global--spacer--xs);
        font-size: var(--pf-global--FontSize--xs);
        max-height: var(--pf-global--spacer--lg);

        .ins-c-select__multi-value__label {
            max-width: calc(10 * var(--pf-global--FontSize--xs));
            padding-top: 6px;
        }

        .ins-c-select__multivalue--remove {
            display: flex;

            svg {
                fill: var(--pf-global--Color--400);
            }

            > :hover {
                background: transparent;
                svg {
                    fill: var(--pf-global--Color--dark-100);
                }
            }
        }

        &::before {
            @include absolute;
            content: "";
            border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--Color--dark-200);
            border-radius: var(--pf-global--BorderRadius--sm);
            pointer-events: none;
        }
    }

    .ins-c-select__value--container {
        display: flex;
        padding-left: var(--pf-global--spacer--xs);
        align-items: center;
        flex-wrap: wrap;
        
        .ins-c-select__multivalue--container {
            align-items: initial;
        }

        .ins-c-select__value--container-chipgroup {
            padding: var(--pf-global--spacer--xs);
            font-size: var(--pf-global--FontSize--xs);
            background-color: var(--pf-global--BorderColor--300);
            border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--300);
            margin: 0;
            max-height: var(--pf-global--spacer--lg);
                &:hover{
                    border-color: var(--pf-global--Color--dark-100);
                }
                > span {
                    color: var(--pf-global--Color--dark-100);
                }
            }
    }
}
