.pf-c-content {
    p.ins-c-remediations-action-description { 
        margin: 0;
    }   
}

.ins-c-resolution-container {
    display: flex;
    flex-wrap: wrap;
}

.ins-c-resolution-option {
    width: 50%;
    padding: var(--pf-global--spacer--sm);
    .pf-c-tile {
        width: 100%;
        height: 100%;
        text-align: left;
        .pf-c-tile__header {
            justify-content: left;
        }
        .pf-c-tile__body {
            display: flex;
            .pf-c-content {
                margin-top: auto;
            }
        }
    }
    p.ins-c-playbook-description {
        font-size: var(--pf-global--FontSize--sm);
    }
    .ins-c-reboot-required {
        color: var(--pf-global--Color--100);
        svg {
            margin-right: var(--pf-global--spacer--sm);
        }
    }
}

@media screen and (max-width: 462px) {
    .ins-c-resolution-option {
        width: 100%;
    }
}
