@import '../../Utilities.scss';

.ins-p-page-header {
  display: flex;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #d1d1d1;
  margin: 0;
  padding: 20px $ins-padding;

  &__title {
    font-size: $ins-fontSize;
    font-family: 'Overpass';
    margin: 0;
  }
}