.ins-c-inventory__culling-warning {
    color: var(--pf-global--warning-color--100);
    font-weight: var(--pf-global--FontWeight--bold);
}

.ins-c-inventory__culling-danger {
    color: var(--pf-global--danger-color--100);
    font-weight: var(--pf-global--FontWeight--bold);
}
