@import '../../Utilities';
@import '~@patternfly/patternfly-next/sass-utilities/all';


// ==================================================================
// Gauge
// ==================================================================
.ins-c-gauge {
    --ins-c-gauge-critical--Fill:       var(--pf-global--danger-color--100);
    --ins-c-gauge-high--Fill:           $ins-color--orange;
    --ins-c-gauge-medium--Fill:         var(--pf-global--warning-color--100);
    --ins-c-gauge-low--Fill:            var(--pf-global--success-color--100);

    .c3-chart-arcs-background {
        fill: #{$pf-color-black-500};
        stroke: none;
    }
}


// Modifier - positive
// ==================================================================
// if a fuller gauge is positive

.ins-c-gauge {

    &.ins-m-fill-level-1 .c3-arc {
        fill: var(--ins-c-gauge-low--Fill);
    }

    &.ins-m-fill-level-2 .c3-arc {
        fill: var(--ins-c-gauge-medium--Fill);
    }

    &.ins-m-fill-level-3 .c3-arc {
        fill: var(--ins-c-gauge-high--Fill);
    }

    &.ins-m-fill-level-4 .c3-arc {
        fill: var(--ins-c-gauge-critical--Fill);
    }
}

// Modifier - negative
// ==================================================================
// if a fuller gauge is negative

.ins-c-gauge.ins-m-negative {

    &.ins-m-fill-level-1 .c3-arc {
        fill: var(--ins-c-gauge-critical--Fill);
    }

    &.ins-m-fill-level-2 .c3-arc {
        fill: var(--ins-c-gauge-high--Fill);
    }

    &.ins-m-fill-level-3 .c3-arc {
        fill: var(--ins-c-gauge-medium--Fill);
    }

    &.ins-m-fill-level-4 .c3-arc {
        fill: var(--ins-c-gauge-low--Fill);
    }
}

