@use '~@redhat-cloud-services/frontend-components-utilities/src/styles/_mixins.scss' as m;

.ins-c-table__empty {
  background: var(--pf-t--global--background--color--primary--default);
  border-bottom: 1px solid var(--pf-t--global--background--color--secondary--default);
  @include m.rem('padding', 20px);
  &.is-centered {
    display: flex;
    justify-content: center;
  }
}
