:root {
  --ins-color--orange: #ec7a08; }

button:focus {
  outline: none; }

.ins-active-app-general_information .pf-c-content .pf-l-level div:first-child {
  font-weight: var(--pf-global--FontWeight--bold); }

.ins-active-app-general_information table td.ins-no-data {
  text-align: center; }

.pf-c-modal-box .pf-c-table {
  white-space: nowrap; }
  .pf-c-modal-box .pf-c-table .ins-c-inventory__detail--up {
    fill: var(--pf-global--success-color--100); }
  .pf-c-modal-box .pf-c-table .ins-c-inventory__detail--down {
    fill: var(--pf-global--danger-color--100); }
  .pf-c-modal-box .pf-c-table .ins-c-inventory__detail--unknown {
    fill: var(--pf-global--warning-color--100); }
  .pf-c-modal-box .pf-c-table .ins-c-inventory__detail--enabled {
    fill: var(--pf-global--success-color--100); }

.ins-c-inventory__detail--dialog {
  min-width: 350px;
  min-width: 21.875rem; }
  .ins-c-inventory__detail--dialog .pf-c-table th, .ins-c-inventory__detail--dialog .pf-c-table th button, .ins-c-inventory__detail--dialog .pf-c-table td {
    padding-left: 0 !important; }

@media only screen and (max-width: 768px) {
  .pf-c-modal-box .pf-c-table {
    white-space: normal; } }

