:root {
  --ins-color--orange: #ec7a08; }

.ins-empty-rule-cards div {
  text-align: center; }

.ins-c-rules-card .pf-c-card__header .pf-l-split__item:first-of-type {
  white-space: nowrap;
  margin-right: 5px;
  margin-right: 0.3125rem; }

.ins-c-rules-card .ins-l-icon-group__with-major {
  display: inline; }

.ins-c-rules-card .space-between {
  display: flex;
  justify-content: space-between; }

.ins-c-rules-card .pf-c-card__header div {
  font-weight: 600; }

.ins-c-rules-card + .ins-c-rules-card {
  margin-top: var(--pf-global--spacer--xl); }

.ins-c-rules-card a[disabled] {
  cursor: not-allowed;
  color: var(--pf-global--disabled-color--200); }
  .ins-c-rules-card a[disabled]:hover {
    text-decoration: none; }

.ins-c-inventory-advisor__card .ins-m-card__flat {
  box-shadow: none;
  border: 1px solid #dcdcdc;
  border-radius: 5px; }

.ins-c-inventory-advisor__card .pf-c-card__body svg {
  margin-right: 5px;
  margin-right: 0.3125rem; }

.ins-c-inventory-advisor__card pre {
  display: block;
  padding: 10px;
  padding: 0.59375rem;
  margin-top: 5px;
  margin-top: 0.3125rem;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px; }
  .ins-c-inventory-advisor__card pre code {
    white-space: inherit; }

.ins-c-inventory-advisor__card ol {
  margin-top: 10px;
  margin-top: 0.625rem;
  margin-left: 15px;
  margin-left: 0.9375rem; }

.ins-c-inventory-advisor__card p + pre, .ins-c-inventory-advisor__card ul + pre {
  margin-bottom: 20px;
  margin-bottom: 1.25rem; }

.ins-c-inventory-advisor__card .pf-c-list {
  margin: 5px 0px;
  margin: 0.3125rem 0rem; }

.ins-c-inventory-advisor__card table {
  width: 100%;
  margin-top: 15px;
  margin-top: 0.9375rem; }
  .ins-c-inventory-advisor__card table tr {
    border-bottom: 1px solid #ededed; }
  .ins-c-inventory-advisor__card table th, .ins-c-inventory-advisor__card table td {
    padding: 16px;
    padding: 1rem; }
  .ins-c-inventory-advisor__card table td {
    background: white !important; }
  .ins-c-inventory-advisor__card table th {
    text-align: left !important; }

.batterySectionOverrides {
  margin-top: 16px; }

.smallFontSizeOverride {
  font-size: var(--pf-global--FontSize--sm); }

.successColorOverride {
  color: var(--pf-global--success-color--200); }

:root {
  --ins-color--orange: #ec7a08; }

button:focus {
  outline: none; }

section.ins-l-content {
  padding: var(--pf-global--spacer--lg); }

section.ins-l-button-group {
  margin: 24px 0px;
  margin: 1.5rem 0rem; }

section.ins-l-button-group > * {
  display: inline; }

section.ins-l-button-group * + * {
  margin-left: 5px;
  margin-left: 0.3125rem; }

section.ins-l-icon-group * + * {
  margin-left: 10px; }

section.ins-l-icon-group__with-major * + * {
  margin-left: 7.5px; }

section.ins-l-icon-group__with-major .ins-battery:last-of-type {
  padding-left: 15px;
  border-left: 2px solid #eaeaea; }

section.ins-l-icon-group__with-major .ins-battery:last-of-type span.label {
  font-weight: 500;
  margin: 0 10px; }

