:root {
    --ins-color--orange: #ec7a08;
}

// Spacing
$ins-padding: var(--pf-global--spacer--lg);
$ins-margin: var(--pf-global--spacer--xl);
$ins-gutter: var(--pf-global--gutter);

// Font Size
$ins-fontSize: var(--pf-global--FontSize--md);
$ins-fontSize--sm: var(--pf-global--FontSize--sm);
$ins-fontSize--lg: var(--pf-global--FontSize--lg);
$ins-fontSize--xl: var(--pf-global--FontSize--xl);

// Borders
$ins-borderRadius: var(--pf-global--BorderRadius--sm);
$ins-borderRadius--round: var(--pf-global--BorderRadius--lg);

// Grid breakpoints
$ins-break--xs: var(--pf-global--breakpoint--xs);
$ins-break--sm: var(--pf-global--breakpoint--sm);
$ins-break--md: var(--pf-global--breakpoint--md);
$ins-break--lg: var(--pf-global--breakpoint--lg);
$ins-break--xl: var(--pf-global--breakpoint--xl);

// Colors
$ins-color--red: var(--pf-global--danger-color--100);
$ins-color--critical: $ins-color--red;

$ins-color--orange: var(--ins-color--orange);
$ins-color--high: $ins-color--orange;

$ins-color--yellow: var(--pf-global--warning-color--100);
$ins-color--medium: $ins-color--yellow;

$ins-color--green: var(--pf-global--success-color--100);
$ins-color--low: $ins-color--green;

$ins-color--blue: var(--pf-global--info-color--100);

$ins-color--gray: var(--pf-global--disabled-color--200);