.ins-c-primary-toolbar {
    padding: var(--pf-global--spacer--md);
    .pf-c-data-toolbar__item {
            &.ins-c-primary-toolbar__first-action {
                display: initial;
            }
        }
    .ins-c-primary-toolbar__first-action {
        display: none;
    }

    .ins-c-primary-toolbar__pagination {
        margin-left: auto;
    }

    .ins-c-primary-toolbar__sort-by {
        display: initial
    }

    .ins-c-primary-toolbar__overflow-actions, .ins-c-primary-toolbar__overflow-actions-separator {
        display: none;
    }

    .ins-c-primary-toolbar__group-filter {
        margin-right: var(--pf-global--spacer--md);
        flex-grow: initial;
            .ins-c-primary-toolbar__filter {
                flex: initial;
            }
    }
}

@media only screen and (max-width: 768px) {
    .ins-c-primary-toolbar {
        padding: var(--pf-global--spacer--sm);

        .pf-c-data-toolbar__item {
            &.ins-c-primary-toolbar__first-action {
                display: none;
            }
        }
        .ins-c-primary-toolbar__first-action {
            display: block;
        }

        .ins-c-primary-toolbar__sort-by {
            display: none
        }

        .ins-c-primary-toolbar__overflow-actions, .ins-c-primary-toolbar__overflow-actions-separator {
            display: block;
        }

        .ins-c-primary-toolbar__group-filter {
            margin-right: 0;
            flex-grow: 1;
            .ins-c-primary-toolbar__filter {
                flex: 1;
            }
        }
    }
}

@media only screen and (max-width: 1795px) {
    .ins-c-primary-toolbar {
        .pf-c-data-toolbar__item {
            padding-bottom: var(--pf-global--spacer--sm);
        }
    }
}
