@use '~@redhat-cloud-services/frontend-components-utilities/styles/_mixins.scss' as m;

@keyframes spinner {
  to { transform: rotate(360deg); }
}
   
.ins-c-spinner {
  display: inline-flex;
  &.ins-m-center {
    display: flex;
    justify-content: center;
  }
  &:before {
    content: '';
    @include m.rem('width', 30px);
    @include m.rem('height', 30px);
    border-radius: 50%;
    border: 3px solid var(--pf-t--global--color--brand--hover);
    border-top-color: var(--pf-t--global--color--brand--default);
    animation: spinner 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}
