.ins-c-filter__dropdown .pf-c-dropdown__menu-item {
  &:hover {
    background-color: inherit !important;
    outline: inherit !important;
  }
  &:focus {
    background-color: inherit !important;
    outline: inherit !important;
  }
}