.rhcs-c-rules-table {
    .ins-c-table__toolbar.ins-m-footer .pf-c-pagination.pf-m-footer {
        margin-left: auto;
    }

    .pf-c-select__menu .pf-c-check__label .ins-battery svg {
        height: var(--pf-global--FontSize--xl);
    }

    // align items vertically
    .pf-c-table {
        td {
            vertical-align: middle;
        }

        // fix toggle
        .pf-c-table__toggle {
            padding-top: 0;

            .pf-c-button {
                margin: 0;
                padding: 0;
            }
        }

    }

    .pf-c-data-toolbar__content {
        position: relative;
        padding-right: var(--pf-c-data-toolbar__content--PaddingRight);
        padding-left: var(--pf-c-data-toolbar__content--PaddingLeft);
    }

    .ins-c-primary-toolbar {
        padding: var(--pf-global--spacer--md);
    }

    .pf-c-empty-state {
        flex-direction: column;
    }
}

