@use "sass:math";
@use "sass:meta";
@use "sass:list";
@use "sass:string";

// Convert px to rem
// =================================================================/
@mixin rem($property, $values) {

  // Create a couple of empty lists as output buffers.
  $font-size: 16px;
  $px-values: ();
  $rem-values: ();

  // Loop through the $values list
  @each $value in $values {

    // For each property value, if it's in rem or px, derive both rem and
    // px values for it and add those to the end of the appropriate buffer.
    // Ensure all pixel values are rounded to the nearest pixel.
    @if meta.type-of($value) == number and not math.is-unitless($value) and (math.unit($value) == px) {

      // px value given - calculate rem value from font-size
      $new-rem-value: math.div($value, $font-size);
      $px-values: list.join($px-values, math.round($value));
      $rem-values: list.join($rem-values, string.unquote("#{$new-rem-value}rem"));

    } @else if meta.type-of($value) == number and not math.is-unitless($value) and (math.unit($value) == '%') {

      // % value given - don't add px or rem
      $px-values: list.join($px-values, string.unquote(#{$value}));
      $rem-values: list.join($rem-values, string.unquote(#{$value}));

    } @else if $value == auto {

      // auto - don't add px or rem
      $px-values: list.join($px-values, auto);
      $rem-values: list.join($rem-values, auto);

    } @else {

      // unitless value - use those directly as rem and calculate the px-fallback
      $px-values: list.join($px-values, math.round($value * $font-size));
      $rem-values: list.join($rem-values, string.unquote("#{$value}rem"));
    }
  }

  // output the converted rules
  #{$property}: $px-values;
  #{$property}: $rem-values;

}



// Generate font-size in rem
// =================================================================/
@mixin font-size($size, $line: $size * 1.4) {
  font-size: ($size);
  font-size: math.div($size, $ins-fontSize) + rem;

  @if $line == 1 {
    line-height: 1;

  } @else if $line != null {
    line-height: $line;
    line-height: math.div($line, $ins-fontSize) + rem;
  }
}



// Generate transition
// =================================================================/
@mixin transition($property) {

  transition: $property 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: $property 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: $property 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: $property 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: $property 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}