.ins-active-app-vulnerabilities .cvetable-toolbar,
.page__Vulnerabilities .cvetable-toolbar {
  justify-content: space-between; }
  .ins-active-app-vulnerabilities .cvetable-toolbar > div,
  .page__Vulnerabilities .cvetable-toolbar > div {
    align-self: flex-end; }

.ins-active-app-vulnerabilities .space-between-toolbar-items,
.page__Vulnerabilities .space-between-toolbar-items {
  justify-content: space-between;
  flex-wrap: nowrap; }
  .ins-active-app-vulnerabilities .space-between-toolbar-items > div,
  .page__Vulnerabilities .space-between-toolbar-items > div {
    flex-wrap: nowrap; }

.ins-active-app-vulnerabilities .vulnerability-toolbar-spacing,
.page__Vulnerabilities .vulnerability-toolbar-spacing {
  justify-content: flex-start; }
  .ins-active-app-vulnerabilities .vulnerability-toolbar-spacing > div:not(:last-child),
  .page__Vulnerabilities .vulnerability-toolbar-spacing > div:not(:last-child) {
    margin-right: var(--pf-global--spacer--sm); }

@media screen and (max-width: 1100px) {
  .ins-active-app-vulnerabilities .pf-c-pagination:not(.pf-m-footer) .pf-c-options-menu,
  .ins-active-app-vulnerabilities .pf-c-pagination:not(.pf-m-footer) .pf-c-pagination__nav,
  .page__Vulnerabilities .pf-c-pagination:not(.pf-m-footer) .pf-c-options-menu,
  .page__Vulnerabilities .pf-c-pagination:not(.pf-m-footer) .pf-c-pagination__nav {
    display: none;
    visibility: hidden; }
  .ins-active-app-vulnerabilities .pf-c-pagination__total-items,
  .page__Vulnerabilities .pf-c-pagination__total-items {
    display: flex;
    visibility: visible; } }

.ins-active-app-vulnerabilities .pf-c-pagination.pf-m-footer.ins-c-pagination-next,
.page__Vulnerabilities .pf-c-pagination.pf-m-footer.ins-c-pagination-next {
  margin-left: auto; }

.ins-active-app-vulnerabilities #download-report,
.page__Vulnerabilities #download-report {
  cursor: pointer; }

.ins-active-app-vulnerabilities .number-of-results,
.page__Vulnerabilities .number-of-results {
  display: inline-block;
  min-width: 55px;
  text-align: right;
  margin-right: 5px; }

.ins-active-app-vulnerabilities .table-header-icon,
.page__Vulnerabilities .table-header-icon {
  margin-right: 5px;
  margin-right: 0.3125rem; }

.ins-active-app-vulnerabilities .status-dropdown-column > svg,
.page__Vulnerabilities .status-dropdown-column > svg {
  color: var(--pf-global--primary-color--100); }

.ins-active-app-vulnerabilities .status-dropdown-column:hover,
.page__Vulnerabilities .status-dropdown-column:hover {
  cursor: pointer; }
  .ins-active-app-vulnerabilities .status-dropdown-column:hover > svg,
  .page__Vulnerabilities .status-dropdown-column:hover > svg {
    visibility: visible; }

.ins-active-app-vulnerabilities .status-dropdown-column > svg,
.page__Vulnerabilities .status-dropdown-column > svg {
  visibility: hidden; }

.ins-active-app-vulnerabilities tbody > tr > td.pf-c-table__check,
.page__Vulnerabilities tbody > tr > td.pf-c-table__check {
  vertical-align: middle;
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.ins-active-app-vulnerabilities thead > tr > td.pf-c-table__check,
.page__Vulnerabilities thead > tr > td.pf-c-table__check {
  visibility: hidden; }

.ins-active-app-vulnerabilities .pf-c-table tr > *,
.page__Vulnerabilities .pf-c-table tr > * {
  vertical-align: middle !important; }

.ins-active-app-vulnerabilities p.pf-c-empty-state__body ul,
.page__Vulnerabilities p.pf-c-empty-state__body ul {
  margin-top: 0px;
  margin-bottom: var(--pf-global--spacer--sm); }
  .ins-active-app-vulnerabilities p.pf-c-empty-state__body ul li,
  .page__Vulnerabilities p.pf-c-empty-state__body ul li {
    margin-top: 0px; }

@media (max-width: 1400px) and (min-width: 992px) {
  .ins-active-app-vulnerabilities .hide-description,
  .page__Vulnerabilities .hide-description {
    --pf-hidden-visible--Display: var(--pf-hidden-visible--hidden--Display);
    --pf-hidden-visible--Visibility: var(
        --pf-hidden-visible--hidden--Visibility
      ); } }

@media (min-width: 1400px) {
  .ins-active-app-vulnerabilities .remediation-btn-sml,
  .page__Vulnerabilities .remediation-btn-sml {
    display: none;
    visibility: hidden; } }

@media (max-width: 1400px) {
  .ins-active-app-vulnerabilities .remediation-btn-lg,
  .page__Vulnerabilities .remediation-btn-lg {
    display: none;
    visibility: none; } }

.ins-active-app-vulnerabilities .col-width-10,
.page__Vulnerabilities .col-width-10 {
  min-width: 10%; }

.ins-active-app-vulnerabilities .col-width-15,
.page__Vulnerabilities .col-width-15 {
  min-width: 15%; }

.ins-active-app-vulnerabilities .col-width-description,
.page__Vulnerabilities .col-width-description {
  min-width: 35%; }

.no-wrap {
  white-space: nowrap; }


/*# sourceMappingURL=index.css.map*/