.ins-c-line {
  border: 0.01rem solid var(--pf-v5-global--BorderColor--100);
}

.ins-c-rule-details__stack {
  width: 600px;
  .pf-v5-c-content {
    font-size: var(--pf-v5-global--FontSize--sm);
  }
}
