@import './src/Utilities.scss';

.ins-p-page-header {
  display: flex;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #d1d1d1;
  margin: 0;
  @include rem('padding', 20px $global-padding);

  &__title {
    @include font-size(18px);
    font-family: 'Overpass';
    margin: 0;
  }
}