@import '../../Utilities';

:root {
    --ins-c-table-toolbar--PaddingVertical: 16px;
    --ins-c-table-toolbar--PaddingHorizontal: 32px;
}

.ins-c-table__toolbar, .ins-c-table__toolbar-results {
    background: var(--pf-global--Color--light-100);
    border-bottom: 1px solid var(--pf-global--BorderColor--light-200);
}

.ins-c-table__toolbar, .ins-c-table__toolbar-results {
    padding: var(--ins-c-table-toolbar--PaddingVertical) var(--ins-c-table-toolbar--PaddingHorizontal);
}
