@import '~@redhat-cloud-services/frontend-components-utilities/styles/_all';


// ==================================================================
// Gauge
// ==================================================================
.ins-c-gauge {
    --ins-c-gauge-critical--Fill:       var(--pf-v5-global--danger-color--100);
    --ins-c-gauge-high--Fill:           var(--ins-color--orange);
    --ins-c-gauge-medium--Fill:         var(--pf-v5-global--warning-color--100);
    --ins-c-gauge-low--Fill:            var(--pf-v5-global--success-color--100);

    .c3-chart-arcs-background {
        fill: var(--pf-v5-global--Color--200);
        stroke: none;
    }
}


// Modifier - positive
// ==================================================================
// if a fuller gauge is positive

.ins-c-gauge {

    &.ins-m-fill-level-1 .c3-arc {
        fill: var(--ins-c-gauge-low--Fill);
    }

    &.ins-m-fill-level-2 .c3-arc {
        fill: var(--ins-c-gauge-medium--Fill);
    }

    &.ins-m-fill-level-3 .c3-arc {
        fill: var(--ins-c-gauge-high--Fill);
    }

    &.ins-m-fill-level-4 .c3-arc {
        fill: var(--ins-c-gauge-critical--Fill);
    }
}

// Modifier - negative
// ==================================================================
// if a fuller gauge is negative

.ins-c-gauge.ins-m-negative {

    &.ins-m-fill-level-1 .c3-arc {
        fill: var(--ins-c-gauge-critical--Fill);
    }

    &.ins-m-fill-level-2 .c3-arc {
        fill: var(--ins-c-gauge-high--Fill);
    }

    &.ins-m-fill-level-3 .c3-arc {
        fill: var(--ins-c-gauge-medium--Fill);
    }

    &.ins-m-fill-level-4 .c3-arc {
        fill: var(--ins-c-gauge-low--Fill);
    }
}

