@import '~@redhat-cloud-services/frontend-components-utilities/styles/_all';

.ins-c-pie{
    display: inline-flex;
    justify-content: center;
}

.ins-l-pie{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: pie;
}

.ins-c-pie .c3-tooltip-container{
    z-index: 3;
    opacity: .9;
    .c3-tooltip {
        display: block;
        background-color:#545454;
        @include m.rem('padding', 10px 15px);
        .name { font-weight: 700; }
        td {
            flex-direction: row;
            font-size:13px;
            color: #fff;
        }
        td + td { @include m.rem('padding-left', 20px); }
    }
}

// with-legend

// When larger than 0px, align the legend in a 1 column list
@media only screen and (min-width: 0px) {
    .ins-l-pie__legend { grid-template-columns: auto; }
}

// When larger than 992px, align the legend in a 2 column list
@media only screen and (min-width: $ins-break--lg) {
    .ins-l-pie__legend { grid-template-columns: auto auto; }
}

.ins-l-pie__legend {
    display: grid;
    grid-column-gap: 15px;
    align-items: center;
    justify-content: center;
    grid-area: legend;
    @include m.rem('margin-top', 15px);
    &--item {
        white-space: nowrap;
        cursor: pointer;
    }

    .badge-wrapper {
        display: flex;
        align-items: center;
    }

    .badge {
        @include m.rem('height', 15px);
        @include m.rem('width', 15px);
        display: inline-block;
        @include m.rem('margin-right', 10px);
        &__number { @include m.rem(margin-left, 5px); }
    }
}

.ins-l-pie-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-column-gap: 15px;

    @media only screen and (min-width: $ins-break--xs) {
        &.legend-right {
            grid-template: 'pie' 'legend';
        }
    
        &.legend-left {
            grid-template: 'legend' 'pie';
        }
    }

    @media only screen and (min-width: $ins-break--sm) {
        &.legend-right {
            grid-template: 'pie legend';
        }
    
        &.legend-left {
            grid-template: 'legend pie';
        }
    }

    &.legend-top {
        grid-template: 'legend' 'pie';
    }

    &.legend-bottom {
        grid-template: 'pie' 'legend';
    }
}
