@use '~@redhat-cloud-services/frontend-components-utilities/styles/_mixins.scss' as m;

:root {
    --ins-c-table-toolbar--PaddingVertical: 16px;
    --ins-c-table-toolbar--PaddingHorizontal: 32px;
}

.ins-c-table__toolbar, .ins-c-table__toolbar-results {
  background: var(--pf-v5-global--Color--light-100);
  border-bottom: 1px solid var(--pf-v5-global--BorderColor--light-200);
  padding: var(--ins-c-table-toolbar--PaddingVertical) var(--ins-c-table-toolbar--PaddingHorizontal);
}

.ins-c-table__toolbar.ins-m-footer { border-top: 1px solid var(--pf-v5-global--BorderColor--light-200); }

.ins-c-table__toolbar-results { color: var(--pf-v5-global--Color--200); }

.ins-c-table__toolbar-results-count + .ins-c-table__toolbar-results-selected {
  @include m.rem('margin-left', 15px);
  @include m.rem('padding-left', 15px);
  border-left: 2px solid var(--pf-v5-global--BorderColor--light);
}

@media only screen and (max-width: 768px) {
  .ins-c-table__toolbar, .ins-c-table__toolbar-results {
    padding: 0 0;
  }
}
