@import "~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_mixins";

.ins-active-app-vulnerabilities,
.page__Vulnerabilities {
  .cvetable-toolbar {
    justify-content: space-between;
    > div {
      align-self: flex-end;
    }
  }
  .space-between-toolbar-items {
    justify-content: space-between;
    flex-wrap: nowrap;
    > div {
      flex-wrap: nowrap;
    }
  }

  .vulnerability-toolbar-spacing {
    justify-content: flex-start;
    > div:not(:last-child) {
      margin-right: var(--pf-global--spacer--sm);
    }
  }

  @media screen and (max-width: 1100px) {
    .pf-c-pagination:not(.pf-m-footer) .pf-c-options-menu,
    .pf-c-pagination:not(.pf-m-footer) .pf-c-pagination__nav {
      display: none;
      visibility: hidden;
    }
    .pf-c-pagination__total-items {
      display: flex;
      visibility: visible;
    }
  }

  .pf-c-pagination.pf-m-footer.ins-c-pagination-next {
    margin-left: auto;
  }

  #download-report {
    cursor: pointer;
  }

  .number-of-results {
    display: inline-block;
    min-width: 55px;
    text-align: right;
    margin-right: 5px;
  }

  .table-header-icon {
    @include rem("margin-right", 5px);
  }

  .status-dropdown-column {
    > svg {
      color: var(--pf-global--primary-color--100);
    }
    &:hover {
      cursor: pointer;
      > svg {
        visibility: visible;
      }
    }
    > svg {
      visibility: hidden;
    }
  }

  tbody > {
    tr > {
      td.pf-c-table__check {
        vertical-align: middle;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
      }
    }
  }

  thead > {
    tr > {
      td.pf-c-table__check {
        visibility: hidden;
      }
    }
  }

  .pf-c-table tr > * {
    vertical-align: middle !important;
  }

  p.pf-c-empty-state__body {
    ul {
      margin-top: 0px;
      margin-bottom: var(--pf-global--spacer--sm);
      li {
        margin-top: 0px;
      }
    }
  }

  .hide-description {
    @media (max-width: 1400px) and (min-width: 992px) {
      --pf-hidden-visible--Display: var(--pf-hidden-visible--hidden--Display);
      --pf-hidden-visible--Visibility: var(
        --pf-hidden-visible--hidden--Visibility
      );
    }
  }
  .remediation-btn-sml {
    @media (min-width: 1400px) {
      display: none;
      visibility: hidden;
    }
  }
  .remediation-btn-lg {
    @media (max-width: 1400px) {
      display: none;
      visibility: none;
    }
  }

  .col-width-10 {
    min-width: 10%;
  }
  .col-width-15 {
    min-width: 15%;
  }
  .col-width-description {
    min-width: 35%;
  }
}
