@import '../../Utilities';

@mixin setBatteryFont() {
  @include rem(height, 18px);
  line-height: 1;
}


// Setting the icons
.ins-battery-1, .ins-battery-low, .ins-battery-info {
  svg {
    @include setBatteryFont;
    path { fill: $ins-color--low; }
  }
}

.ins-battery-2, .ins-battery-medium, .ins-battery-warn {
  svg {
    @include setBatteryFont;
    path { fill: $ins-color--medium; }
  }
}

.ins-battery-3, .ins-battery-high, .ins-battery-error{
  svg {
    @include setBatteryFont;
    path { fill: $ins-color--high; }
  }
}

.ins-battery-4, .ins-battery-critical {
  svg {
    @include setBatteryFont;
    path { fill: $ins-color--critical; }
  }
}

.ins-battery + .ins-battery { @include rem('margin-left', 10px); }
