:root {
  --ins-color--orange: #ec7a08; }

button:focus {
  outline: none; }

.ins-c-existing-or-new .ins-c-existing-or-new__existing {
  display: flex;
  flex-wrap: wrap; }
  .ins-c-existing-or-new .ins-c-existing-or-new__existing select.pf-c-form-control, .ins-c-existing-or-new .ins-c-existing-or-new__existing .ins-c-skeleton {
    width: auto;
    min-width: 300px;
    min-width: 18.75rem;
    margin-left: 20px;
    margin-left: 1.25rem; }

.ins-c-remediation-summary-table tr td:nth-of-type(2) {
  white-space: nowrap; }

:root {
  --ins-color--orange: #ec7a08; }

button:focus {
  outline: none; }

.ins-c-resolution-option .pf-c-check {
  align-items: baseline; }

:root {
  --ins-color--orange: #ec7a08; }

button:focus {
  outline: none; }

.ins-c-remediations-loading-step .ins-c-remediations-loading-step-main {
  min-height: 200px;
  min-height: 12.5rem; }

:root {
  --ins-color--orange: #ec7a08; }

button:focus {
  outline: none; }

.ins-c-remediations-error-step .ins-m-red {
  color: var(--pf-global--danger-color--100); }

.ins-c-remediations-error-step ul {
  list-style-type: disc; }
  .ins-c-remediations-error-step ul li {
    margin-left: 20px;
    margin-left: 1.25rem; }

:root {
  --ins-color--orange: #ec7a08; }

button:focus {
  outline: none; }

.ins-c-remediation-modal .pf-c-modal-box__body > * + * {
  margin-top: 20px;
  margin-top: 1.25rem; }

.ins-c-remediation-modal .pf-c-check label {
  display: inline; }

.ins-c-remediation-modal .ins-m-text__accent {
  color: #c3c3c3; }

.ins-c-remediation-modal .ins-m-text__bold {
  font-weight: 500; }

.ins-c-remediation-modal table td {
  white-space: normal; }

.ins-c-remediation-modal .pf-c-label {
  background: var(--pf-global--Color--200); }

