@import '~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_variables';
@import '~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_mixins';

.ins-c-rule__report-detail {
  padding: var(--pf-global--gutter--md) 40px;

  .ins-c-rule__report-detail-link {
    margin-bottom: var(--pf-global--spacer--xs);
    margin-left: var(--pf-global--spacer--form-element);
  }

  .ins-c-rule__risk-detail-title {
    margin-bottom: var(--pf-global--spacer--sm);
    font-weight: var(--pf-global--FontWeight--light);
  }

  .ins-c-rule__risk-detail-description-text {
    color: var(--pf-global--Color--200);
    size: var(--pf-chart-global--FontSize--sm);
  }

  p > .ins-c-rule__link-in-description:only-child {
    display: block;
    margin-top: var(--pf-l-stack--m-gutter--MarginBottom);
  }

  .ins-c-rule__rule-feedback-like-button, .ins-c-rule__rule-feedback-dislike-button {
    padding: 0 var(--pf-global--spacer--sm);
  }

  .ins-c-rule__risk-description {
    .ins-c-rule__battery {
      .label, .ins-c-risk-of-change__label {
        font-weight: 400;
      }
    }

    // change color of icons and text according to current severity
    .ins-c-rule__severity-level-1 {
      .ins-c-risk-of-change__label, .ins-c-risk-of-change__icon, .label {
        color: var(--pf-global--Color--200);
      }
    }

    .ins-c-rule__severity-level-2 {
      .ins-c-risk-of-change__label, .ins-c-risk-of-change__icon, .label {
        color: var(--pf-global--warning-color--100);
      }
    }

    .ins-c-rule__severity-level-3 {
      .ins-c-risk-of-change__label, .ins-c-risk-of-change__icon, .label {
        color: var(--ins-color--orange);
      }
    }

    .ins-c-rule__severity-level-4 {
      .ins-c-risk-of-change__label, .ins-c-risk-of-change__icon, .label {
        color: var(--pf-global--danger-color--100);
      }
    }
  }

  .ins-c-risk-of-change__icon {
    font-size: 28px;
  }

  // align label vertically
  .ins-c-rule__battery {
    line-height: 2;
    display: flex;

    i {
      margin-right: 5px;
    }
  }
  ol {
      @include rem('margin-top', 10px);
      @include rem('margin-left', 15px);
  }

  p + pre, ul + pre { @include rem('margin-bottom', 20px); }

  .pf-c-list { @include rem('margin', 5px 0); }

  .pf-c-button.pf-m-link {
    padding-left: 0;
  }

}

.ins-c-rule__remediating-modal {
  ol {
    @include rem('margin-top', 10px);
    @include rem('margin-left', 15px);
  }

  p + pre, ul + pre { @include rem('margin-bottom', 20px); }

  .pf-c-list { @include rem('margin', 5px 0); }

  .ins-c-rule__modal-content {
    margin-top: 24px;
  }
}

