.ins-c-rule__report-detail {
  padding: var(--pf-global--gutter--md) 40px;

  .ins-c-rule__report-detail-link {
    margin-bottom: var(--pf-global--spacer--xs);
    margin-left: var(--pf-global--spacer--form-element);
  }

  .ins-c-rule__risk-detail-title {
    margin-bottom: var(--pf-global--spacer--sm);
    font-weight: 200;
  }

  .ins-c-rule__risk-detail-description-text {
    text-transform: capitalize;
    color: #737679;
    size: 14px;
  }

  .ins-c-rule__link-in-description {
    display: block;
    //padding-top: 24px;
    margin-top: var(--pf-l-stack--m-gutter--MarginBottom);
  }

  .ins-c-rule__rule-feedback {
  }
}

