.ins-c-rule__report-detail {
  padding: var(--pf-global--gutter--md) var(--pf-global--gutter);

  .ins-c-rule__report-detail-link {
    margin-bottom: var(--pf-global--spacer--xs);
    margin-left: var(--pf-global--spacer--form-element);
  }

  .ins-c-rule__risk-detail {
    margin-bottom: var(--pf-global--spacer--sm);
  }
}

