@import '~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_variables';

.ins-c-rule__report-detail {
  padding: var(--pf-global--gutter--md) 40px;

  .ins-c-rule__report-detail-link {
    margin-bottom: var(--pf-global--spacer--xs);
    margin-left: var(--pf-global--spacer--form-element);
  }

  .ins-c-rule__risk-detail-title {
    margin-bottom: var(--pf-global--spacer--sm);
    font-weight: var(--pf-global--FontWeight--light);
  }

  .ins-c-rule__risk-detail-description-text {
    color: var(--pf-global--Color--200);
    size: var(--pf-chart-global--FontSize--sm);
  }

  .ins-c-rule__link-in-description {
    display: block;
    margin-top: var(--pf-l-stack--m-gutter--MarginBottom);
  }

  .ins-c-rule__rule-feedback-like-button, .ins-c-rule__rule-feedback-dislike-button {
    padding: 0 var(--pf-global--spacer--sm);
  }

  .ins-c-rule__risk-description {
    .ins-c-rule__battery {
      .label, .ins-c-risk-of-change__label {
        font-weight: 400;
      }
    }

    // change color of icons and text according to current severity
    .ins-c-rule__severity-level-1 {
      .ins-c-risk-of-change__label, .ins-c-risk-of-change__icon, .label {
        color: $ins-color--gray;
      }
    }

    .ins-c-rule__severity-level-2 {
      .ins-c-risk-of-change__label, .ins-c-risk-of-change__icon, .label {
        color: $ins-color--medium;
      }
    }

    .ins-c-rule__severity-level-3 {
      .ins-c-risk-of-change__label, .ins-c-risk-of-change__icon, .label {
        color: $ins-color--high;
      }
    }

    .ins-c-rule__severity-level-4 {
      .ins-c-risk-of-change__label, .ins-c-risk-of-change__icon, .label {
        color: $ins-color--critical;
      }
    }
  }

  .ins-c-risk-of-change__icon {
    font-size: 28px;
  }

  // align label vertically
  .ins-c-rule__battery {
    line-height: 2;
    display: flex;

    i {
      margin-right: 5px;
    }
  }
}

