@import '../../Utilities';

i.Ansible {
    &.is-supported .st0{ fill: $ins-color--blue; }
    &.is-unsupported { 
        .st0, .st1, .st2 { fill: $ins-color--gray; }
        cursor: not-allowed;
    }
    svg { height: var(--pf-global--FontSize--xl); }
}

h1 { display: inline; }