@import "../../../../Utilities/mixins";

.ins-active-app-vulnerabilities {
  padding-top: 2em;
}

.cvetable-toolbar {
  justify-content: space-between;
  > div {
    align-self: flex-end;
  }
}
.space-between-toolbar-items {
  justify-content: space-between;
  > div:nth-child(1) {
    flex:1.5;
    padding-right: var(--pf-global--spacer--sm);
  }
  > div:nth-child(2) {
    padding-left: var(--pf-global--spacer--sm);
    flex: 1;
  }
  > div:nth-child(3) {
  }
}

.pf-c-pagination.pf-m-footer.ins-c-pagination-next {
  margin-left: auto;
}

#download-report {
  cursor: pointer;
}

.number-of-results {
  display: inline-block;
  min-width: 55px;
  text-align: right;
  margin-right: 5px;
}

.table-header-icon {
  @include rem("margin-right", 5px);
}

.status-dropdown-column {
  padding: var(--pf-global--spacer--sm);
  display: flex;
  align-items: center;
  border: transparent thin solid;
  position: relative;
  &:hover {
    background-color: var(--pf-global--active-color--200);
    border-color: var(--pf-global--BorderColor--light);
    cursor: pointer;
    > svg {
      visibility: visible;
    }
  }
  > svg {
    visibility: hidden;
    position: absolute;
    top: var(--pf-global--spacer--sm);
    right: var(--pf-global--spacer--sm);
  }
}

td.pf-c-table__check {
  vertical-align: middle;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
