.ins-matrix-chart {
  margin-left: auto;
  svg {
    overflow: visible;
    text.headline {
      font-weight: var(--pf-v5-global--FontWeight--semi-bold);
    }
    .axis-grid {
      svg {
        cursor: pointer;

        circle {
          transition: size 400ms;
        }
      }
    }
  }

  div.tooltip {	
    position: absolute;			
    text-align: left;							
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;
    border-radius: 8px;			
    pointer-events: none;
    padding: 8px 16px;
    opacity: 0;

    &.active {
      opacity: .9;
      transition: opacity 200ms;
    }

    span.tooltip-box {
      width: 1em;
      height: 1em;
      display: inline-block;
      margin-right: 5px;
    }
  }
}