@import './src/Utilities.scss';

.card.ins-c-card {
  display: inline-flex;
  flex-direction: column;
  @include rem('padding', $global-padding);
  @include rem('margin', $global-margin);

  background: #fff;

  box-shadow: 0 1px 1px rgba(3,3,3,.175);

}