.ins-c-entity-table.pf-c-table.pf-m-compact {
    tr > *:first-child {
        --pf-c-table--cell--PaddingLeft: var(--pf-global--spacer--lg);
    }
    tr > *:last-child {
        --pf-c-table--cell--PaddingRight: var(--pf-global--spacer--lg);
    }
    .ins-composed-col * {
        font-size: var(--pf-global--FontSize--sm);
    }
    .ins-c-inventory__list-tags {
        vertical-align: bottom;
        button {
            padding: 0;
            svg {
                width: 14px;
            }
            .ins-c-tag__text {
                font-size: var(--pf-global--FontSize--sm);
            }
        }
    }
}
