@import '../../Utilities/variables';

ol.ins-breadcrumbs {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent;
  border-radius: 1px;

  > li {
    display: inline;
  
    color: $ins-color--gray;

    svg {
      vertical-align: middle;
      padding-bottom: 2px;
      margin-left: 2px;
      fill: currentColor;
    }

    &.ins-active {
      color: var(--pf-global--BackgroundColor--dark-100);
    }
  }
}