@use '~@redhat-cloud-services/frontend-components-utilities/src/styles/_mixins' as m;

.ins-c-truncate button, .ins-c-truncate + button { padding: 0; }

.ins-c-truncate.is-inline { @include m.rem('margin-right', 10px); }
