.pf-c-form__helper-text {
    &.pf-m-disabled {
        color: var(--pf-global--disabled-color--100	)
    }
}

.ins-c-source__warning-icon {
    fill: var(--pf-global--warning-color--100);
    margin-right: var(--pf-global--spacer--sm);
}

.ins-c-source__aws-grid {
    text-align: left;
}
