.ins-c-sources__wizard--tile {
  width: 100%;

  .ins-c-sources__wizard--icon {
    height: 40px;
  }

  &.disabled {
    .ins-c-sources__wizard--icon {
      opacity: 0.5;
    }
  }

  .redhat-icon {
    height: 50px;
  }
}

.ins-c-sources__wizard--step-text {
  max-width: 536px;
}

.ins-c-sources__wizard--radio {
  .pf-c-radio:not(:last-child) {
    margin-bottom: 24px;
  }
}

.ins-c-sources__wizard--rhel-mag-label {
  position: relative;
  top: -3px;
}

.ins-c-sources__wizard--rhel-mag-label {
  position: relative;
  top: -3px;
}

.ins-c-sources__wizard--rhel-desc-title {
  color: initial;
}

.ins-c-sources__wizard--summary-description-list {
  .pf-c-description-list__group {
    grid-template-columns: 150px 1fr;
  }
}

.ins-c-sources__wizard--hide-me {
  opacity: 0;
}

.ins-c-sources__wizard--switch-description {
  font-size: 14px;
  color:	#6a6e73;
}
