.ins-c-sources__wizard--tile {
  width: 100%;

  .ins-c-sources__wizard--icon {
    height: 40px;
  }

  &.disabled {
    .ins-c-sources__wizard--icon {
      opacity: 0.5;
    }
  }

  .redhat-icon {
    height: 50px;
  }
}

.ins-c-sources__wizard--step-text {
  max-width: 536px;
}
