.list-align-top {
    margin-top: calc(var(--pf-global--spacer--xl) * -1);
}

.list-align-left {
    margin-left: calc(var(--pf-global--spacer--xl) * -1);
}

.export-table {
    margin-left: calc(var(--pf-global--spacer--xl) * 1.5);
    margin-top: var(--pf-global--spacer--md);
}

.cluster-id-question-button {
    padding-right: 3px;
    padding-left: 5px;
}

.ins-c-sources__wizard--all-required-text {
    color: var(--pf-global--disabled-color--100);
}
