.ins-c-sources__wizard--bigdescription {
    small {
        font-size: var(--pf-global--FontSize--md) !important;
        font-weight: var(--pf-global--FontWeight--normal) !important;
        color: var(--pf-global--Color--100) !important;
    }

    .pf-c-content {
        margin-top: 8px !important;
        margin-bottom: 16px !important;
    }
}
