@import "~@patternfly/patternfly/sass-utilities/mixins.scss";
@import "~@patternfly/patternfly/sass-utilities/colors.scss";
@import "~@patternfly/patternfly/sass-utilities/scss-variables.scss";
@import "~@patternfly/patternfly/utilities/Flex/flex.scss";
@import "~@patternfly/patternfly/utilities/Display/display.scss";
@import '~@redhat-cloud-services/frontend-components-utilities/files/Utilities/all';
@import '~@redhat-cloud-services/frontend-components/components/tagCount.scss';
@import '~@redhat-cloud-services/frontend-components/components/tagModal.scss';
@import '~@redhat-cloud-services/frontend-components/components/CullingInformation.scss';

.ins-c-inventory__no--access .pf-c-empty-state__body > div {
    max-width: 500px;
    margin: auto;

    @media screen and (max-width: 768px) {
        max-width: 200px;
    }
}

.ins-c-inventory__table--toolbar {
    &.ins-m-footer {
        margin: 0;
        padding: 0;
    }

    &:not(.ins-c-inventory__table--toolbar-has-items) {
        .pf-c-toolbar__content {
            .pf-c-toolbar__item:last-child { @include rem('min-width', 200px); }
        }
        .pf-c-pagination__nav-page-select input { @include rem('min-width', 75px); }
    }

    .ins-c-chip-filters .pf-c-chip-group:not(:last-of-type) { margin-right: var(--pf-global--spacer--xs); }

    .ins-c-tagfilter { width: initial; }
}

.ins-c-table__empty {
    @include rem('margin', 75px);
    border-bottom: none;

    .pf-c-content {
        text-align: center;
    }
}

.ins-c-inventory__tags-filter ul {
    label.pf-c-check__label {
        display: flex;
        width: 100%;

        .ins-c-inventory__tags-filter--tag-name {
            margin-right: var(--pf-global--spacer--xs);
        }
        .pf-c-badge { margin-left: auto; }
    }

    .ins-c-inventory__tags-tail {
        display: flex;

        .ins-c-inventory__tags-no-tags { margin: auto; }

        .pf-c-spinner { margin-left: auto; }
    }
}

.ins-c-entity-table.pf-c-table {

    .pf-c-table__check input { cursor: pointer; }
    .ins-composed-col div {
        word-wrap: break-word;
        word-break:break-all;
        &:nth-child(2):not(.ins-m-nodetail) {
            color: var(--pf-global--link--Color);
            cursor: pointer;
            &:hover { color: var(--pf-global--link--Color--hover); }
        }
    }

    .ins-health-status div {
        display: inline-block;
        padding-right: 20px;

        svg {
            position: relative;
            top: 2px;
            left: -2px;
        }
    }

    .ins-composed-col {
        > :first-child {
            color: var(--pf-c-button--m-disabled--Color);
            font-size: var(--pf-global--FontSize--sm);
        }

        * {
            font-size: var(	--pf-global--FontSize--lg);
        }

        .ins-composed-col {
            cursor: pointer;
        }
    }

    .ins-c-inventory__list-tags {
        display: inline-block;
    }

    .ins-health-status div {
        span:nth-child(2) {
            color: var(--pf-global--info-color--100);
            cursor: pointer;
        }
    }

    .pf-c-table__action .pf-c-dropdown {
        position: relative;
        left: 10px;
        top: 3px;
    }
}

.ins-simple-table {
    .ins-health-status div {
        display: inline-block;
        padding-right: 20px;

        svg {
          position: relative;
            top: 2px;
            left: -2px;
        }
    }
}

.ins-c-inventory__tags-modal .ins-c-primary-toolbar .pf-c-toolbar__content {
    padding: 0;
}

.ins-c-inventory__no-access { background-color: var(--pf-global--BackgroundColor--100); }
