.ins-c-bulk-select {
  .pf-c-dropdown__toggle-check span.pf-c-dropdown__toggle-text {
    display: initial;
  }
  .ins-c-bulk-select__selected {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .ins-c-bulk-select {
    .pf-c-dropdown__toggle-check span.pf-c-dropdown__toggle-text {
      display: none;
    }
    .ins-c-bulk-select__selected {
      display: initial;
    }
  }
}
