.ins-c-empty-state__maintenance {
  .pf-v6-c-empty-state__body {
    color: var(--pf-t--color--gray--95);
  }
  .pf-v6-c-empty-state__icon svg { fill: #EE0000; } // This is Red Hat's red, not Patternfly's red.
  .pf-v6-c-title { font-weight: 500; }
}
