.ins-c-empty-state__maintenance {
  .pf-c-empty-state__body {
    color: var(--pf-global--Color--100);
  }
  .pf-c-empty-state__icon { fill: #EE0000; } // This is Red Hat's red, not Patternfly's red.
  .pf-c-title { font-weight: 500; }
}
