
.ins-c-conditional-filter__group .pf-c-dropdown__toggle-text {
    width: 100px;
    text-align: left;

    & > svg {
        margin-right: var(--pf-global--spacer--xs);
    }
}

@media only screen and (max-width: 768px) {
    .ins-c-conditional-filter {
        .ins-c-conditional-filter__group {
            .pf-c-dropdown__toggle-text {
                width: auto;
            }
            .ins-c-conditional-filter__value-selector {
                display: none;
            }
            .ins-c-conditional-filter__group {
                width: initial;
            }
        }
    }
}
