@import '~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_all';

.ins-c-conditional-filter {
    .pf-c-select__toggle-wrapper .pf-c-select__toggle-text {
        @include rem('max-width', 150px);
    }

    .ins-c-conditional-filter__group {
        .pf-c-dropdown__toggle-text {
            width: 102px;
            text-align: left;

            & > svg {
                margin-right: var(--pf-global--spacer--xs);
            }
        }

        .ins-c-conditional-filter__no-label .pf-c-dropdown__toggle-text  {
            width: auto;
        }
    }

    input.ins-c-conditional-filter[type="text"] {
        @include rem('padding-right', 35px);
        @include rem('margin-right', -23px);

        & + svg {
            position: relative;
            @include rem('left', -5px);
            @include rem('top', 2px);
        }
    }

    .pf-c-select__toggle-text {
        margin-right: 0;
    }
    .pf-c-select__toggle-badge {
        display: none;
    }
}

@media only screen and (max-width: 406px) {
    .ins-c-conditional-filter {
        .pf-c-select__toggle-wrapper .pf-c-select__toggle-text {
            @include rem('max-width', 100px);
        }
    }
}

@media only screen and (max-width: 884px) {
    .ins-c-conditional-filter {
        .ins-c-conditional-filter__group {
            .pf-c-dropdown__toggle-text {
                width: auto;
            }
            .ins-c-conditional-filter__value-selector {
                display: none;
            }
            .ins-c-conditional-filter__group {
                width: initial;
            }
        }
    }
}
