@use '~@redhat-cloud-services/frontend-components-utilities/styles/_mixins.scss' as m;

.ins-c-conditional-filter {
  input {
    outline: none;
  }

  &.mobile {
    display: none !important;
    visibility: hidden !important;
  }
  .pf-v5-c-select__toggle-wrapper .pf-v5-c-select__toggle-text {
    @include m.rem('max-width', 150px);
  }
  .ins-c-conditional-filter__group {
    .pf-v5-c-menu-toggle__text {
      width: auto;
      text-align: left;
      & > span {
        margin-right: var(--pf-v5-global--spacer--xs);
      }
    }
    .ins-c-conditional-filter__no-label .pf-v5-c-dropdown__toggle-text  {
      width: auto;
    }
  }

  .pf-v5-l-split__item {
    .pf-v5-c-select__menu-group {
      .pf-v5-c-select__menu-group-title:empty {
        display: none;
      }
      padding: 0;
    }
    .pf-v5-c-select__option-button {
      padding: 0;
    }
    .pf-v5-c-select__menu-item-icon {
      display: none;
    }
  }
  input.ins-c-conditional-filter[type="text"] {
    @include m.rem('padding-right', 35px);
    @include m.rem('margin-right', -23px);

    & + svg {
      position: relative;
      @include m.rem('left', -5px);
      @include m.rem('top', 2px);
    }
  }
  .pf-v5-c-select__toggle-text {
    margin-right: 0;
  }
  .pf-v5-c-select__toggle-badge {
    display: none;
  }
  .pf-v5-c-menu-toggle {
    .pf-v5-c-menu-toggle__text {
      flex: 1;
      input { border: none; }
    }
  }
}

.pf-v5-c-menu {
  &.ins-c-menu__scrollable {
    max-height: 416px;
    overflow-y: auto;
    min-width: initial;
  }
  .ins-c-menu__show--more {
    background: none;
    .pf-v5-c-menu__item-text{ color: var(--pf-v5-global--active-color--100); }
  }
}

@media only screen and (max-width: 768px) {
  .ins-c-conditional-filter {
    &.mobile {
      visibility: visible !important;
      display: grid !important;
    }
    &.desktop {
      visibility: hidden;
      display: none;
    }
  }
}

@media only screen and (max-width: 884px) {
  .ins-c-conditional-filter {
    .ins-c-conditional-filter__group {
      .pf-v5-c-dropdown__toggle-text {
        width: auto;
      }
      .ins-c-conditional-filter__value-selector {
        display: none;
      }
      .ins-c-conditional-filter__group {
        width: initial;
      }
    }
  }
}
