@use '~@redhat-cloud-services/frontend-components-utilities/styles/_mixins.scss' as m;

button.ins-c-group-menu-toggle .pf-v5-c-form-control {
    margin: -1rem 0 -1rem 0;
}

button.pf-v5-c-menu-toggle {
    outline: none;
    max-width: 261px;
}

.ins-c-input__clearable {
    width: 93%;
}

.ins-c-icon__link {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    color: var(--pf-v5-global--primary-color--100);
    :hover {
        color: var(--pf-v5-global--primary-color--200);
    }
}

.ins-c-tree-view {
    .pf-v5-c-tree-view {
        padding: 0;
    }

    .pf-v5-c-menu__list-item {
        background: none;

        .pf-v5-c-menu__item {
            padding: 0;

            .pf-v5-c-tree-view__content {
                background: none;
            }
            
            .pf-v5-c-tree-view__node {
                background: none;
            }
        }
    }
}
