@import '~@redhat-cloud-services/frontend-components-utilities/styles/_all.scss';

button.pf-c-menu-toggle {
    outline: none;
    max-width: 261px;
}

.ins-c-input__clearable {
    width: 93%;
}

.ins-c-icon__link {
    color: var(--pf-global--primary-color--100);
    :hover {
        color: var(--pf-global--primary-color--200);
    }
}

.ins-c-tree-view {
    .pf-c-tree-view {
        padding: 0;
    }

    .pf-c-menu__list-item {
        background: none;

        .pf-c-menu__item {
            padding: 0;

            .pf-c-tree-view__content {
                background: none;
            }
            
            .pf-c-tree-view__node {
                background: none;
            }
        }
    }
}
