@import '~@patternfly/patternfly-next/sass-utilities/colors';
@import '~@patternfly/patternfly-next/sass-utilities/scss-variables';
@import './Table/styles.scss';

.pf-c-table {
  border: 1px solid #ccc;
  background-color: var(--pf-c-table--BackgroundColor);
  box-shadow: var(--pf-global--BoxShadow);

  .pf-c-table__sort svg {
    transition: var(--pf-c-table__sort--Transition);
    position: relative;
    top: 3px;
  }

  &, td, th, tr {
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
  }

  .pf-c-table__toggle {
    vertical-align: baseline;

    button {
      cursor: pointer;
    }
  }

  th.pf-m-ascending, th.pf-m-descending {
    border-bottom: 3px var(--pf-global--primary-color--light-100) solid;

    svg {
      fill: var(--pf-global--primary-color--light-100);
    }
  }

  tfoot.ins-table-footer {
    td {
      padding-left: 0px;
      padding-right: 0px;
      padding: 0;
      .special-patternfly {

        .content-view-pf-pagination {
          padding-left: 20px; 
        }

        input.pagination-pf-page {
          font-size: 16px;
          padding-top: 5px;
        }
  
        .pagination-pf-pagesize.dropdown {
          button {
            font-size: 14px;
          }
  
          ul li {
            font-size: 14px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 992px) {
  .pf-c-table {
    &, tr {
      border: 1px solid #ccc;
    }

    td, th {
      border: none
    }
  }
}
