@import '~@redhat-cloud-services/frontend-components-utilities/styles/_all';

.ins-c-inventory__detail--edit { @include rem('min-width', 500px) }

.ins-inventory-detail.pf-c-page-header.pf-c-page__main-section {
    padding-bottom: 0;
}

.ins-c-inventory__detail--header {
    .pf-l-split__item:last-child { @include rem('min-width', 100px); }
}

.ins-c-inventory__detail--action {
    padding-left: var(--pf-global--spacer--sm);
}

.ins-c-inventory-detail__app-tabs ul {
    &:after {
        content: '';
        width: 100%;
    }

    li button:before {
        border-bottom: none;
    }
}

.ins-entity-detail {
  .ins-entity-facts {
    div {
      @include rem('margin', 5px);
      margin-left: 0;

      span:first-child { @include rem('margin-right', 5px); }

      .ins-c-skeleton {
          display: inline-block;
      }
    }
  }

  .ins-entity-tags {
    svg {
      position: relative;
      top: 3px;
    }
    > div > span {
        margin: 5px;
    }
  }

  .ins-tab-layout {
    margin-top: 20px;
  }
}

.ins-c-inventory__drawer {
    .pf-c-drawer__head {
      padding: var(--pf-global--spacer--lg);
    }
  .pf-c-drawer__panel {
    overflow-x: hidden;
    flex-basis: var(--pf-c-drawer__panel--FlexBasis);

    .pf-c-drawer__body {
        padding: 0;
    }
  }
  
  .ins-c-inventory__drawer--content {
      .ins-c-inventory__drawer--facts {
        .ins-entity-facts {
            .pf-m-6-col-on-md {
                --pf-l-grid__item--GridColumnEnd: span 12;
            }
            div span:first-child { padding-right: var(--pf-global--spacer--sm); }
        }
        .pf-l-grid:not(.ins-entity-facts) {
            a.ins-c-inventory__detail--action { display: none }
            .pf-l-grid__item:first-of-type dd { grid-column: 1; }
        }
      }
    > .pf-l-stack__item {
      &:not(:last-child):before {
        content: " ";
        display: block;
        position: absolute;
        height: 1px;
        background: var(--pf-global--palette--black-300);
        width: 100%;
        left: 0;
      }
    
      > * {
        padding-bottom: var(--pf-global--spacer--lg);
        padding-top: var(--pf-global--spacer--lg);
      }
    }
    > * {
      > * { padding-left: var(--pf-global--spacer--lg); }

      &:nth-child(odd):after {
        content: " ";
        display: block;
        position: relative;
        height: 100%;
        background: var(--pf-global--palette--black-200);
        top: -100%;
        width: 107%;
        left: 0;
        z-index: -1;
      }
    }
  }

  .ins-c-inventory__drawer-system-issues {
      .ins-c-inventory__drawer--title { --pf-l-stack--m-gutter--MarginBottom: var(--pf-global--spacer--sm); }
      .ins-c-inventory__drawer-patch {
        .ins-m-moderate a {
            color: var(--pf-global--palette--gold-400);
        }
        a {
          padding: var(--pf-global--spacer--sm);
          background: transparent;
          text-decoration: none;
        }
      }
      .ins-c-inventory__drawer-cve div {
        &:after {
            content: " ";
            display: block;
            height: 2px;
        }

        &.ins-m-critical:after { background: var(--pf-global--palette--red-100); }
        &.ins-m-important:after { background: var(--pf-global--palette--orange-300); }
        &.ins-m-moderate:after { background: var(--pf-global--palette--gold-400); }
        &.ins-m-low:after { background: var(--pf-global--palette--gold-100); }
      }
  }
}

@media screen and (min-width: 768px) {
  .ins-entity-detail {
    .ins-entity-facts, .ins-entity-header {
      div.pf-l-grid__item:nth-child(even) {
        text-align: right;
      }
    }
  }

  .ins-c-inventory__drawer {
    .pf-c-drawer__panel { flex-basis: calc(var(--pf-c-drawer__panel--FlexBasis) * 1.5); }
  }
}

.ins-c-inventory__tags-modal .ins-c-primary-toolbar .pf-c-toolbar__content {
    padding: 0;
}
