@import '~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_all';
@import '~@redhat-cloud-services/frontend-components/components/CullingInfo.css';

.ins-c-inventory__detail--edit { @include rem('min-width', 500px) }

.ins-inventory-detail.pf-c-page-header.pf-c-page__main-section {
    padding-bottom: 0;
}

.ins-c-inventory__detail--header {
    .pf-l-split__item:last-child { @include rem('min-width', 100px); }
}

.ins-c-inventory__detail--action {
    padding-left: var(--pf-global--spacer--sm);
}

.ins-c-inventory-detail__app-tabs ul {
    &:after {
        content: '';
        width: 100%;
    }

    li button:before {
        border-bottom: none;
    }
}

.ins-entity-detail {
  .ins-entity-facts {
    div {
      @include rem('margin', 5px);
      margin-left: 0;

      span:first-child { @include rem('margin-right', 5px); }

      .ins-c-skeleton {
          display: inline-block;
      }
    }
  }

  .ins-entity-tags {
    svg {
      position: relative;
      top: 3px;
    }
    > div > span {
        margin: 5px;
    }
  }

  .ins-tab-layout {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .ins-entity-detail {
    .ins-entity-facts, .ins-entity-header {
      div.pf-l-grid__item:nth-child(even) {
        text-align: right;
      }
    }
  }
}
